div.card-deck.container
  each calc, i in calcs
    if i <= 2
      div.col-md-4
        div.card
          div.card-header
            h5.card-title=  calc.title
            if calc.total >= 75
              p.badge.badge-success= 'Score: ' +calc.total
            else if calc.total <= 74 && calc.total >= 50 
              p.badge.badge-warning= 'Score: ' +calc.total  
            else if calc.total < 50
              p.badge.badge-danger= 'Score: ' +calc.total
            else if calc.total == undefined
              p.badge.badge-secondary= 'Score: No score found'  
            p= 'Type: ' + calc.whattype        
          div.card-body
            //start of fault button
            if calc.topfaults.length >= 1 
              div.row
                div.col-md-2
                if calc.topfaults.length >= 3
                  - var topdefs = "<ol> <li>" + calc.topfaults[0] + "</li><li>" + calc.topfaults[1] + "</li><li>" + calc.topfaults[2] + "</li></ol>"
                else if calc.topfaults.length == 2
                  - var topdefs = "<ol> <li>" + calc.topfaults[0] + "</li><li>" + calc.topfaults[1] + "</li></ol>"
                else if calc.topfaults.length == 1
                  - var topdefs = "<ol> <li>" + calc.topfaults[0] + "</li></ol>"
                button(type="button" class="btn btn-sm btn-danger col-md-8 center-block" data-placement="bottom" data-trigger="focus" data-toggle="popover" title="Top Deficiencies" data-content=topdefs) See Top Deficiencies
                div.col-md-2
                  //end of fault button
            p.card-text= calc.notes
            hr
            div.btn-group(role="group" aria-label="Basic example")
              a.btn.btn-primary.text-white(href='/calcs/download/'+ calc._id data-id=calc._id) Download
              a.btn.btn-secondary.text-white(href='/calcs/edit/'+ calc._id data-id=calc._id) Edit
              a.btn.btn-dark.text-white.calcdelete(data-id=calc._id) Delete
          div.card-footer
            div.inline-block
              h6.card-text=  'Created by ' +  calc.madeby
div.card-deck.container
  each calc, i in calcs
    if i <= 5 && i > 2
      div.col-md-4
        div.card
          div.card-header
            h5.card-title=  calc.title
            if calc.total >= 75
              p.badge.badge-success= 'Score: ' +calc.total
            else if calc.total <= 74 && calc.total >= 50 
              p.badge.badge-warning= 'Score: ' +calc.total  
            else if calc.total < 50
              p.badge.badge-danger= 'Score: ' +calc.total
            else if calc.total == undefined
              p.badge.badge-secondary= 'Score: No score found'  
            p= 'Type: ' + calc.whattype        
          div.card-body
            //start of fault button
            if calc.topfaults.length >= 1
              div.row
                div.col-md-2
                if calc.topfaults.length >= 3
                  - var topdefs = "<ol> <li>" + calc.topfaults[0] + "</li><li>" + calc.topfaults[1] + "</li><li>" + calc.topfaults[2] + "</li></ol>"
                else if calc.topfaults.length == 2
                  - var topdefs = "<ol> <li>" + calc.topfaults[0] + "</li><li>" + calc.topfaults[1] + "</li></ol>"
                else if calc.topfaults.length == 1
                  - var topdefs = "<ol> <li>" + calc.topfaults[0] + "</li></ol>"
                button(type="button" class="btn btn-sm btn-danger col-md-8 center-block" data-placement="bottom" data-trigger="focus" data-toggle="popover" title="Top Deficiencies" data-content=topdefs) See Top Deficiencies
                div.col-md-2
                  //end of fault button
            p.card-text= calc.notes
            hr
            div.btn-group(role="group" aria-label="Basic example")
              a.btn.btn-primary.text-white(href='/calcs/download/'+ calc._id data-id=calc._id) Download
              a.btn.btn-secondary.text-white(href='/calcs/edit/'+ calc._id data-id=calc._id) Edit
              a.btn.btn-dark.text-white.calcdelete(data-id=calc._id) Delete
          div.card-footer
            div.inline-block
              h6.card-text=  'Created by ' +  calc.madeby                    
div.card-deck.container
  each calc, i in calcs
    if i <= 8 && i > 5
      div.col-md-4
        div.card
          div.card-header
            h5.card-title=  calc.title
            if calc.total >= 75
              p.badge.badge-success= 'Score: ' +calc.total
            else if calc.total <= 74 && calc.total >= 50 
              p.badge.badge-warning= 'Score: ' +calc.total  
            else if calc.total < 50
              p.badge.badge-danger= 'Score: ' +calc.total
            else if calc.total == undefined
              p.badge.badge-secondary= 'Score: No score found'  
            p= 'Type: ' + calc.whattype        
          div.card-body
            //start of fault button
            if calc.topfaults.length >= 1
              div.row
                div.col-md-2
                if calc.topfaults.length >= 3
                  - var topdefs = "<ol> <li>" + calc.topfaults[0] + "</li><li>" + calc.topfaults[1] + "</li><li>" + calc.topfaults[2] + "</li></ol>"
                else if calc.topfaults.length == 2
                  - var topdefs = "<ol> <li>" + calc.topfaults[0] + "</li><li>" + calc.topfaults[1] + "</li></ol>"
                else if calc.topfaults.length == 1
                  - var topdefs = "<ol> <li>" + calc.topfaults[0] + "</li></ol>"
                button(type="button" class="btn btn-sm btn-danger col-md-8 center-block" data-placement="bottom" data-trigger="focus" data-toggle="popover" title="Top Deficiencies" data-content=topdefs) See Top Deficiencies
                div.col-md-2
                  //end of fault button
            p.card-text= calc.notes
            hr
            div.btn-group(role="group" aria-label="Basic example")
              a.btn.btn-primary.text-white(href='/calcs/download/'+ calc._id data-id=calc._id) Download
              a.btn.btn-secondary.text-white(href='/calcs/edit/'+ calc._id data-id=calc._id) Edit
              a.btn.btn-dark.text-white.calcdelete(data-id=calc._id) Delete
          div.card-footer
            div.inline-block
              h6.card-text=  'Created by ' +  calc.madeby
div.card-deck.container
  each calc, i in calcs
    if i <= 11 && i > 8
      div.col-md-4
        div.card
          div.card-header
            h5.card-title=  calc.title
            if calc.total >= 75
              p.badge.badge-success= 'Score: ' +calc.total
            else if calc.total <= 74 && calc.total >= 50 
              p.badge.badge-warning= 'Score: ' +calc.total  
            else if calc.total < 50
              p.badge.badge-danger= 'Score: ' +calc.total
            else if calc.total == undefined
              p.badge.badge-secondary= 'Score: No score found'  
            p= 'Type: ' + calc.whattype        
          div.card-body
            //start of fault button
            if calc.topfaults.length >= 1
              div.row
                div.col-md-2
                if calc.topfaults.length >= 3
                  - var topdefs = "<ol> <li>" + calc.topfaults[0] + "</li><li>" + calc.topfaults[1] + "</li><li>" + calc.topfaults[2] + "</li></ol>"
                else if calc.topfaults.length == 2
                  - var topdefs = "<ol> <li>" + calc.topfaults[0] + "</li><li>" + calc.topfaults[1] + "</li></ol>"
                else if calc.topfaults.length == 1
                  - var topdefs = "<ol> <li>" + calc.topfaults[0] + "</li></ol>"
                button(type="button" class="btn btn-sm btn-danger col-md-8 center-block" data-placement="bottom" data-trigger="focus" data-toggle="popover" title="Top Deficiencies" data-content=topdefs) See Top Deficiencies
                div.col-md-2
                  //end of fault button
            p.card-text= calc.notes
            hr
            div.btn-group(role="group" aria-label="Basic example")
              a.btn.btn-primary.text-white(href='/calcs/download/'+ calc._id data-id=calc._id) Download
              a.btn.btn-secondary.text-white(href='/calcs/edit/'+ calc._id data-id=calc._id) Edit
              a.btn.btn-dark.text-white.calcdelete(data-id=calc._id) Delete
          div.card-footer
            div.inline-block
              h6.card-text=  'Created by ' +  calc.madeby
